.container {
    height: 707px;
    margin: 0 auto;
    width: 438px;
    border-radius: 6px;
    background-color: #f1f2f3;
    font-family: "Work Sans";
    padding: 42px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 438px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.inputValues {
    font-size: 40px;
    font-weight: 300;
    opacity: 0.5;
    max-width: 400px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.input {
    font-size: 96px;
    font-weight: 200;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.padContainer {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    width: 100%;
}

.leftPadContainer {
    display: flex;
    flex-direction: column;
}

.topOperators {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.numPad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.rightOperatorsPad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
}
