.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    font-size: 40px;
    margin-bottom: 8px;
    font-weight: 600;
}
.label {
    display: block;
    font-size: 15.38px;
    margin-bottom: 5px;
}

.formContainer {
    display: flex;
}

.inputContainer {
    max-width: 630px;
    flex: 1;
    margin-right: 20px;
}

.outputContainer {
    max-width: 550px;
    flex: 1;
}

.passwordRow {
    padding: 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
    border: 1px solid #dee2e6;
}

.password {
    font-weight: bold;
}

.copyButton {
    background-color: transparent;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.copyButton:hover {
    opacity: 0.5;
}
