.btn {
    margin: 20px 20px;
    font-size: 20px;
    font-weight: 500;
    padding: 13.5px 14px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #f5f5f5;
    background-color: #3b75a2;
    border: none;
}
